/* set variables */
:root {
  --primary-green: #0ca840;
  --accent-green: #43a047;
  --light-bg: #1c201f;
  --light-text: #000000;
  --light-secondary-text: #707070;
  --dark-bg: #1a202c; /* Equivalent to gray-900 */
  --dark-card-bg: #2d3748; /* Equivalent to gray-800 */
  --dark-text: #e2e8f0; /* Equivalent to gray-200 */
  --dark-secondary-text: #a0aec0; /* Equivalent to gray-500 */
  --back-color: #242b27;
  --card-bg: #e6ffe9;
  --dark-mood-head: #e2e8f0;
  --dark-mood-text: #2d3748;
  --title-color: #1a202c;
  --button-color: #e8ffff;
  --back-button-color: #0ca840;
  --border-color: #ffffff;
  --filds-ground-color: #2a302d;
  --btn-carde-color: #d1fae5;
  --btn-text-carde-color: #2d3748;
}
body {
  background: var(--back-color);
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 150px;
}
header {
  display: flex;
}

header button {
  margin: 20px;
  border-radius: 40%;
  background-color: var(--dark-mood-head);
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
header button i {
  color: var(--dark-mood-text);
}
main {
  background-color: var(--light-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
}
main h1 {
  color: var(--title-color);
  font-size: 2rem;
  font-weight: 700;
  margin: 20px;
  text-align: center;
}
/* start QR-preview */
.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.QR-preview {
  padding: 20px;
  border-radius: 5px;
  border: 0.5px solid var(--back-color);
  min-width: 300px;
  padding: 50px;
}
.QR-preview .QR-code {
  min-width: 250px;
  min-height: 250px;
  position: relative;
  border-radius: 5px;
}
.QR-preview .QR-code::after {
  content: "Enter content to genrate QR cod";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(89, 80, 80);
  font-size: 0.9rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 1;
}
.QR-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
}
.QR-preview .QR-actions button {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: var(--back-button-color);
  color: var(--back-color);
  height: 40px;
  gap: 5px;
  padding: 10px 15px 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.QR-preview .QR-actions button i {
  font-size: 1.2rem;
  color: var(--back-color);
}
.QR-preview h4 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-bg);
  text-align: center;
}
/* end QR-preview */
/* start QR-input-section */
.QR-input-section {
  padding: 20px;
  border: 0.5px solid var(--back-color);
  border-radius: 5px;
  min-width: 300px;
}
.QR-input-section .switch-type-section {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.QR-input-section .switch-type-section select {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-bg);
  text-align: left;
  text-transform: uppercase;
  background-color: var(--filds-ground-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.QR-input-section .QR-color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  gap: 15px;
}

.QR-input-section .QR-color .QR-btn-color {
  display: flex;
  flex-direction: column;
}
.QR-input-section .QR-color .QR-btn-color input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--filds-ground-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-top: 10px;
}
.QR-input-section .QR-color .QR-btn-color label {
  font-size: 1rem;
  color: var(--dark-bg);
  text-align: left;
  margin-top: 10px;
}
.QR-input-section .QR-size {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px 20px 0px;
}
.QR-input-section .QR-size label {
  font-size: 1rem;
  color: var(--dark-bg);
  font-weight: 600;
  text-align: left;
  margin-top: 10px;
}
.QR-input-section .QR-size input {
  width: 100%;
}
.QR-input-section .generateQR-btn {
  border: none;
  align-items: center;
  border-radius: 20px;
  background-color: var(--back-button-color);
  color: var(--back-color);
  height: 40px;
  width: 100%;
  padding: 10px 15px 10px 10px;
  margin-top: 20px;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* end QR-input-section */
/* start QR-filds */

.input-fild.sms {
  display: block;
}
.input-fild.vcard {
  display: none;
}
.input-fild.text {
  display: none;
}
.input-fild.email {
  display: none;
}
.input-fild.url {
  display: none;
}
.input-fild.phone {
  display: none;
}
.input-fild.wi-fi {
  display: none;
}
.input-fild textarea {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-bg);
  text-align: left;
  background-color: var(--filds-ground-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.input-fild h3 {
  font-size: 1rem;
  color: var(--dark-bg);
  font-weight: 600;
  text-align: left;
}
.input-fild input {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-bg);
  text-align: left;
  background-color: var(--filds-ground-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.input-fild select {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-bg);
  text-align: left;
  text-transform: uppercase;
  background-color: var(--filds-ground-color);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
/* end QR-filds */
/* start upload-sction */
.upload-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 0.5px solid var(--back-color);
  border-radius: 5px;
  margin-top: 20px;
}
.upload-section label {
  font-weight: 600;
}

.upload-section .upload-img {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dashed var(--back-color);
  padding: 20px;
  width: 93%;
  margin-top: 10px;
  cursor: pointer;
}
.upload-section .upload-img .loading {
  position: absolute;
  opacity: 0;
}

/* end upload-section */
/* start history section */
.history-section {
  border: 0.5px solid var(--back-color);
  margin-top: 10px;
}

.history-carde {
  display: flex;
  flex-direction: column;
  background: #707070;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
}
.history-carde .smal-QR {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 5px;
}

.history-carde .smal-QR::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(89, 80, 80);
  font-size: 0.9rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  opacity: 1;
}
.carde-src {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.carde-options {
  display: flex;
  gap: 50px;
}
.carde-options button {
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: var(--btn-carde-color);
  color: var(--btn-text-carde-color);
  height: 40px;
  gap: 5px;
  padding: 10px 15px 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* end history section */
